input{
    margin-bottom: 1em;
}
.form .btnsBottomForm{
    display: flex;
    margin-top: 2em;
}
.form .btnsBottomForm button {
    cursor: pointer;
    padding: .8em .4em;
    background-color: transparent;
    color: rgb(172, 172, 172);
    transition: .2s;
}
.form .btnsBottomForm button[type='submit'] {
    border: 1px solid rgb(80, 80, 80);
    flex: 1;
    margin-right: .5em;
}
.form .btnsBottomForm button[type='button'] {
    border: 1px solid rgba(139, 21, 0, 0.781);
    width: 20%;
}
.form .btnsBottomForm button[type='submit']:hover {
    border: 1px solid rgb(172, 172, 172);
    color: #fff;
}
.form .btnsBottomForm button[type='button']:hover {
    border: 1px solid rgb(219, 7, 0);
    color: #fff;
}