.form input{
    outline: none;
    width: 100%;
    margin-bottom: 1em;
    padding: .8em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 190, 57);
    color: #fff;
}
.form input::placeholder{
    color: rgb(172, 172, 172);
}
.form input:focus{
    border-bottom-color: rgb(0, 255, 76);
}
.form input:focus::placeholder{
    color: #fff;
}
.form .btnsBottomForm{
    display: flex;
    margin-top: 2em;
}
.form .btnsBottomForm button {
    cursor: pointer;
    padding: .8em .4em;
    background-color: transparent;
    color: rgb(172, 172, 172);
    transition: .2s;
}
.form .btnsBottomForm button[type='submit'] {
    border: 1px solid rgb(0, 139, 42);
    flex: 1;
    margin-right: .5em;
}
.form .btnsBottomForm button[type='button'] {
    border: 1px solid rgba(139, 21, 0, 0.781);
    width: 20%;
}
.form .btnsBottomForm button[type='submit']:hover {
    border: 1px solid rgb(0, 255, 76);
    color: #fff;
}
.form .btnsBottomForm button[type='button']:hover {
    border: 1px solid rgb(219, 7, 0);
    color: #fff;
}